$primary-orange: rgb(255, 102, 71);
.discoverWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .compHeader {
        margin-top: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $primary-orange;
    }
    .descrWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        display: block;
        font-weight: 700;
        text-decoration: none;
        font-size: 8rem;
        text-align: center;
    }
    .imgWrapper {
        display: flex;
        justify-content: center;
        .avatar {
            display: block;
            border: 2px solid red;
            border-radius: 50%;
            width: 20rem;
            height: 20rem;
        }
    }
    .handle {
        display: block;
    }
    .location {
        display: block;
    }
}