@-webkit-keyframes growModal {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growModal {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.header {
  text-align: center;
  color: #4A535C;
}

.hackathon-holder {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
}

.hackathon-holder .hackathon-item {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 4px;
  background-image: url("../../images/hackathon-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hackathon-holder .hackathon-item h1 {
  font-size: 1.4em;
}

.hackathon-holder .hackathon-item:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate3d(1, 1, 0, 20deg);
          transform: rotate3d(1, 1, 0, 20deg);
  cursor: pointer;
}

.hackathon-holder .hackathon-item .hackathon-content {
  width: 85%;
  margin: 0 auto;
}

.hack-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hack-modal .modal-text {
  width: 80%;
  margin: 0 auto;
}

.modal-main {
  -webkit-transition: 2s;
  transition: 2s;
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 600px;
  overflow-y: scroll;
  background: url("../../images/hackathon-background.jpg");
  background-position: 0, 0;
}

.modal-main .modal-text .lead {
  text-align: center;
}

.modal-main .modal-text input {
  width: 100%;
}

.modal-main .modal-text textarea {
  width: 100%;
}

.modal-main .modal-text .text-header {
  text-align: left;
  color: #2b323a;
}

.modal-main .modal-text .delete-request {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
  width: 30px;
}

.modal-main .modal-text .delete-request:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.company-holder {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
}

.company-holder .company-item {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 4px;
  background-image: url("../../images/hackathon-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.company-holder .company-item h1 {
  font-size: 1.4em;
}

.company-holder .company-item:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate3d(1, 1, 0, 20deg);
          transform: rotate3d(1, 1, 0, 20deg);
  cursor: pointer;
}

.company-holder .company-item .company-content {
  width: 85%;
  margin: 0 auto;
}

.company-widget-donations .donButton {
  background-color: #41a0f2;
  border: 1px solid #41a0f2;
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
}

.searchingContainer {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 50px 0px 0px 0px;
}

.searchingContainer .searchBar {
  vertical-align: middle;
  padding: 0px 20px;
  width: 800px;
  height: 50px;
  font-size: 30px;
  border: 5px solid #566068;
  border-radius: 100px;
}

.searchingContainer .searchBar:hover {
  border-color: #41a0f2;
}

.searchingContainer .searchBar:focus {
  border-color: #41a0f2;
}

.searchingContainer .search {
  margin: 0px 10px;
  vertical-align: middle;
  height: 50px;
  background-color: #41a0f2;
  width: 150px;
  border: 2px solid #1188ef;
  border-radius: 100px;
}

.donTags {
  margin: 10px 0px 10px 0px;
  text-align: center;
  width: 100%;
}

.donTags .donTag {
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin: 20px 20px;
  background-color: #71b8f5;
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.donTags .donTag:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.donTags .donTag:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.donTags .pressedTag {
  background-color: #d0e8fc;
}

.locationTags {
  margin: 10px 0px 10px 0px;
  text-align: center;
  width: 100%;
}

.locationTags .locTag {
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin: 20px 20px;
  background-color: #71b8f5;
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.locationTags .locTag:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.locationTags .locTag:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.locationTags .pressedTag {
  background-color: #d0e8fc;
}
/*# sourceMappingURL=hackathons.css.map */