$light-blue: #41a0f2;
$grey-text: rgb(86, 96, 104);
$tag-color: #41a0f2;
@keyframes growModal {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.header {
    text-align: center;
    color: #4A535C;
}

.hackathon-holder {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3vw;
    .hackathon-item {
        transition: 0.2s;
        border-radius: 4px;
        background-color: #2F72FF;
        color: rgba(255,255,255,0.95);
        box-shadow: 0px 10px 20px rgba(0,0,0, 0.8);
        h1 {
            font-size: 1.4em;
        }
        &:hover {
            transition: 0.2s;
            transform: rotate3d(1, 1, 0, 10deg);
            cursor: pointer;
        }
        .hackathon-content {
            width: 85%;
            margin: 0 auto;
        }
    }
}

.hack-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    background: rgba(0, 0, 0, 0.6);
    .modal-text {
        width: 80%;
        margin: 0 auto;
    }
}
::webkit-scrollbar{
    display: none;
}
.modal-main {
    transition: 2s;
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    max-height: 600px;
    overflow-y: scroll;
    background-color: $light-blue;

    background-position: 0, 0;
    transform: scale(0) translate(-50%, -50%);
    .modal-text {
        .lead {
            text-align: center;
        }
        input {
            width: 100%;
        }
        textarea {
            width: 100%;
        }
        .text-header {
            text-align: left;
            color: rgb(43, 50, 58);
        }
        .delete-request {
            display: inline-block;
            border: 1px solid black;
            text-align: center;
            border-radius: 3px;
            width: 30px;
            &:hover {
                background: red;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.company-holder {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3vw;
    .company-item {
        transition: 0.2s;
        border-radius: 4px;
        background-image: url('../../images/hackathon-background.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        h1 {
            font-size: 1.4em;
        }
        &:hover {
            transition: 0.2s;
            transform: rotate3d(1, 1, 0, 20deg);
            cursor: pointer;
        }
        .company-content {
            width: 85%;
            margin: 0 auto;
        }
    }
}

.company-widget-donations {
    .donButton {
        background-color: #41a0f2;
        border: 1px solid #41a0f2;
        border-radius: 5px;
        margin: 0px 5px 0px 5px;
    }
}

.searchingContainer {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 50px 0px 0px 0px;
    z-index: -1;
    .searchBar {
        vertical-align: middle;
        padding: 0px 20px;
        width: 800px;
        height: 50px;
        font-size: 30px;
        border: 5px solid $grey-text;
        border-radius: 100px;
        &:hover {
            border-color: $light-blue;
        }
        &:focus {
            border-color: $light-blue;
        }
    }
    .search {
        margin: 0px 10px;
        vertical-align: middle;
        height: 50px;
        background-color: $light-blue;
        width: 150px;
        border: 2px solid darken($light-blue, 10%);
        border-radius: 100px;
    }
}

.donTags {
    margin: 10px 0px 10px 0px;
    text-align: center;
    width: 100%;
    .donTag {
        width: 150px;
        height: 30px;
        display: inline-block;
        text-align: center;
        margin: 20px 20px;
        background-color: lighten($tag-color, 10%);
        color: black;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        }
    }
    .pressedTag {
        background-color: lighten($tag-color, 30%);
    }
}

.locationTags {
    margin: 10px 0px 10px 0px;
    text-align: center;
    width: 100%;
    .locTag {
        width: 150px;
        height: 30px;
        display: inline-block;
        text-align: center;
        margin: 20px 20px;
        background-color: lighten($tag-color, 10%);
        color: black;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        }
    }
    .pressedTag {
        background-color: lighten($tag-color, 30%);
    }
}