.dashboard {
  position: relative;
  padding-top: 10rem;
  font-size: 1.6rem;
  color: #2f72ff;
  /*donation notification styles */
}

.dashboard #monke {
  color: white;
  text-decoration: none;
}

.dashboard .center-display-wrapper {
  position: relative;
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .center-display-wrapper .display-selector-wrapper {
  position: relative;
  width: 50%;
}

.dashboard .center-display-wrapper .display-selector-wrapper .display-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60vh;
  position: fixed;
  left: 5%;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  padding: 20px;
}

.dashboard .center-display-wrapper .display-selector-wrapper .display-selector h1 {
  font-size: 1.3eem;
  text-align: center;
}

.dashboard .center-display-wrapper .display-selector-wrapper .display-selector h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dashboard .center-display-wrapper .split-line {
  position: relative;
  margin-left: 10%;
  width: 3px;
  max-width: 1%;
}

.dashboard .center-display-wrapper .split-line svg rect {
  position: relative;
  width: 3px;
  fill: #2f72ff;
  stroke: #2f72ff;
}

.dashboard .center-display-wrapper .split-line svg {
  position: relative;
  width: 3px;
}

.dashboard .center-display-wrapper .accept-chat {
  position: relative;
  padding: 1% 1% 1%;
  width: auto;
  background-color: #2f72ff;
  height: auto;
  border-radius: 5%;
  color: white;
  display: inline-block;
  float: right;
}

.dashboard .center-display-wrapper .reject-chat {
  position: relative;
  padding: 1% 1% 1%;
  width: auto;
  background-color: #ff472f;
  height: auto;
  border-radius: 5%;
  color: white;
  display: inline-block;
  float: right;
}

.dashboard .center-display-wrapper .side-bar-elem {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  position: relative;
  height: 25%;
  width: auto;
  text-align: center;
  border-color: #585858;
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.dashboard .center-display-wrapper .side-bar-elem:hover {
  -webkit-box-shadow: 0 0 12px rgba(33, 33, 40, 0.3);
          box-shadow: 0 0 12px rgba(33, 33, 40, 0.3);
}

.dashboard .center-display-wrapper .side-bar-elem:active {
  -webkit-box-shadow: 0 0 13px rgba(3, 3, 90, 0.474);
          box-shadow: 0 0 13px rgba(3, 3, 90, 0.474);
}

.dashboard .center-display-wrapper .text-inside-sidebar {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dashboard .center-display-wrapper .icons-yay {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 5%;
  margin-left: 5%;
}

.dashboard .center-display-wrapper .icons-yay:hover {
  cursor: pointer;
}

.dashboard .center-display-wrapper .notification-center {
  position: relative;
  padding: 2% 2% 2% 2%;
  margin-left: 5%;
  margin-bottom: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  width: 50%;
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  height: 100%;
}

.dashboard .center-display-wrapper .notification-center .donation-notifications-wrapper {
  /*display: grid;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        */
}

.dashboard .notifications .notification-wrapper {
  position: relative;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10%;
  width: 100%;
}

.dashboard .notifications .notification-wrapper .notification-header {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 50%;
  font-size: 60%;
}

.dashboard .notifications .notification-wrapper .notification-header p {
  text-align: center;
}

.dashboard .notifications .notification-wrapper .notification-body {
  margin: 10px;
  width: 100%;
}

.dashboard .notifications .notification-wrapper .notification-body .item {
  border-bottom: 1px solid white;
}

.dashboard .notifications .notification-wrapper .chat {
  font-size: 70%;
}

.dashboard .notifications .notification-wrapper .user-action {
  position: relative;
  display: inline-block;
  float: right;
}

.dashboard .notifications .notification-wrapper .user-action .action {
  margin: 5px;
}

.dashboard .notifications .notification-wrapper .user-action .action:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */