$primary-green: #87ffa7;
$light-grey: #a5a5a5;
$background-color: rgb(47, 114, 255);
$primary-orange: rgb(255, 102, 71);
$background-color-light: #2d3142;
$primary-white: #eee;
.dashboard {
  position: relative;
  padding-top: 10rem;
  font-size: 1.6rem;
  color: $background-color;

  #monke {
    color: white;
    text-decoration: none;
  }
  .center-display-wrapper {
    position: relative;
    margin: 0 auto;
    width: 95%;
    display: flex;
    .display-selector-wrapper {
      position: relative;
      width: 50%;
      .display-selector {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60vh;
        position: fixed;
        left: 5%;
        transform: translateX(-5%);
        padding: 20px;
        h1 {
          font-size: 1.3eem;
          text-align: center;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    //Random line
    .split-line {
      position: relative;
      margin-left: 10%;
      width: 3px;
      max-width: 1%;
      svg rect {
        position: relative;
        width: 3px;
        fill: $background-color;
        stroke: $background-color;
      }
      svg {
        position: relative;
        width: 3px;
      }
    }

    //This is the chat invite acceptance button
    .accept-chat {
      position: relative;
      padding: 1% 1% 1%;
      width: auto;
      background-color: #2f72ff;
      height: auto;
      border-radius: 5%;
      color:white;
      display: inline-block;
      float: right;
    }

    .reject-chat {
      position: relative;
      padding: 1% 1% 1%;
      width: auto;
      background-color: #ff472f;
      height: auto;
      border-radius: 5%;
      color:white;
      display: inline-block;
      float: right;
    }

    //This is the styling for the sidebar elements
    .side-bar-elem {
      padding-left:2%;
      padding-right:2%;
      padding-bottom:2%;
      padding-top:2%;
      position: relative;
      height: 25%;
      width: auto;
      text-align: center;
      border-color:  	rgb(88,88,88);
      box-shadow: 0 1px 6px rgba(32,33,36,.28);
      &:hover{
        box-shadow: 0 0 12px rgba(33,33,40,.3); 
      }
      &:active {
        box-shadow: 0 0 13px rgba(3, 3, 90, 0.474);
      }
    }
    .text-inside-sidebar {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .notification-center {
      position: relative;
      padding: 2% 2% 2% 2%;
      margin-left: 5%;
      margin-bottom: 3%;
      display: grid;
      grid-template-columns: auto;
      width: 50%;
      box-shadow: 0 1px 6px rgba(32,33,36,.28);
      height: 100%;

      .donation-notifications-wrapper {
        display: grid;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      }
    }
  }

  /*donation notification styles */
  .notifications {
    margin: auto;
    max-width: 450px;
    .notification-wrapper {
      background-color: $background-color;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10%;

      .notification-header {
        margin: 10px;
        width: 80%;
        h3 {
          text-align: center;
        }
      }
      .notification-body {
        margin: 10px;
        width: 80%;
        .item {
          border-bottom: 1px solid white;
        }
      }

      .user-action {
        display: flex;
        justify-content: space-evenly;

        .action {
          margin: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
