$primary-green: #87ffa7;
$light-grey: #a5a5a5;
$background-color: lighten(rgb(47, 114, 255), 5%);
$primary-orange: lighten(rgb(255, 102, 71), 5%);
$background-color-light: #2d3142;
$primary-white: #eee;
.dashboard {
    padding-top: 10rem;
    font-size: 1.6rem;
    color: $background-color;
}