$primary-green: #87ffa7;
$light-grey: #a5a5a5;
$background-color: lighten(rgb(47, 114, 255), 15%);
$background-color-dark: #003ea3;
$primary-orange: lighten(rgb(255, 102, 71), 5%);
$background-color-light: #2d3142;
$primary-white: #eee;
$primary-yellow: rgb(255, 255, 0);
//border-radius value for the form containers on login, forgot password, reset password, change password, and register
$form-border-radius: 20px;
$bp-largest: 100em;
$bp-large: 75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
.my-hackathons {
    font-size: 1.6rem;
}