$primary-green: #87ffa7;
$light-grey: #a5a5a5;
$background-color: lighten(rgb(47, 114, 255), 15%);
$background-color-dark: #003ea3;
$primary-orange: lighten(rgb(255, 102, 71), 5%);
$background-color-light: #2d3142;
$primary-white: #eee;
$primary-yellow: rgb(255, 255, 0);
//border-radius value for the form containers on login, forgot password, reset password, change password, and register
$form-border-radius: 20px;
$bp-largest: 100em;
$bp-large: 75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
.my-hackathons {
    font-size: 1.6rem;
}

.emptyMessage {
    margin-top: 15rem;
    text-align: center;
    a {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

.hackathon {
    &__edit {
        background-color: white;
        border: none;
        &::before {
            content: '\2807';
            font-size: 3rem;
            margin-top: -2rem;
        }
        &:hover+.hackathon__dropdown {
            visibility: visible;
            height: fit-content;
        }
    }
    &__dropdown {
        z-index: 1000000;
        position: relative;
        overflow: auto;
        border: 1px solid $light-grey;
        background-color: white;
        box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, .2);
        visibility: hidden;
        height: 0;
        position: absolute;
        &:hover {
            visibility: visible;
            height: fit-content;
            cursor: pointer;
        }
        &-item {
            padding: .5rem .5rem;
            margin-bottom: 0;
            font-size: 1.6rem;
            color: black;
            &:not(:last-child) {
                border-bottom: 1px solid $light-grey;
            }
            &:hover {
                background-color: darken(white, 10%);
            }
        }
    }
    &__toggle {
        position: relative;
        margin: 1rem 1rem;
    }
}

.edit-hack-modal {
    height: 0;
    visibility: hidden;
}

[data-status='open'] {
    height: 100vh;
    visibility: visible;
}

.hackathon {
    &__form-group {
        position: relative;
    }
}

.my-hackathons__wrapper {
    margin-top: 5rem;
}

.top-banner {
    padding: 3rem;
}