@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Oxygen:wght@700&display=swap");
.message-main {
  position: relative;
  background: white;
  top: 10rem;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 68.75em) {
  .message-main {
    padding: 10rem .1rem;
  }
}

.header {
  background-color: none;
  color: #ff6647;
  padding: .5rem 0rem;
  position: relative;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.4em;
}

@media (max-width: 68.75em) {
  .header {
    margin-top: 2rem;
  }
}

.chatlogs {
  width: 25%;
  float: left;
  height: 80vh;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-container {
  position: relative;
  width: 75%;
  float: left;
  height: 75vh;
  background-color: white;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.message-container .your-message {
  text-align: right;
}

.message-container .your-message .message-contents {
  background-color: #ff6647;
  color: white;
  position: relative;
  width: 80%;
  left: 15%;
  margin-right: 5%;
  padding: 1rem;
  border-radius: 1rem 1rem 0 1rem;
}

.message-container .they-message {
  text-align: left;
}

.message-container .they-message .message-contents {
  background-color: #feb544;
  color: white;
  position: relative;
  width: 80%;
  margin-left: 5%;
  padding: 1rem;
  border-radius: 1rem 1rem 1rem 0;
}

.chat-div {
  position: relative;
  width: 75%;
  float: left;
  height: 5vh;
  background-color: white;
}

.chat-div .chat-form {
  position: relative;
  bottom: 0px;
  height: 5rem;
  background: white;
  width: 100%;
}

.chat-div .chat-form .text-field {
  position: absolute;
  top: 0;
  width: 80%;
  padding: 1rem 1rem;
  margin: 0 1rem 1rem;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ff6647;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 68.75em) {
  .chat-div .chat-form .text-field {
    font-size: 1.4rem;
  }
}

.chat-div .chat-form .button-send {
  background-color: white;
  color: #ff6647;
  padding: 1rem 1rem;
  margin: 0 1rem 1rem;
  position: absolute;
  right: 5%;
  border: none;
  border-radius: 0em;
}

.chat-div .chat-form .button-send:hover {
  color: #feb544;
}

@media (max-width: 68.75em) {
  .chat-div .chat-form .button-send {
    font-size: 1.4rem;
  }
}

.button-newChat {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 1rem 0.5rem;
  background-color: white;
  color: #2f72ff;
  border: none;
  border-radius: 0em;
}

.button-newChat:hover {
  color: #feb544;
}

.clear {
  clear: both;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: rgba(44, 101, 224, 0.562);
  top: 50%;
  /* transform: translate(0, -50%) */
}

.modal-main {
  position: relative;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.profile-pic {
  width: 30px;
  float: left;
}

.chat-tab {
  position: relative;
  background-color: #2f72ff;
  color: white;
  padding: 1rem;
  margin: .2rem 1rem;
  text-align: center;
}

.chat-tab h5 {
  margin: 0;
}

.chat-tab:hover {
  color: #feb544;
}

.dot {
  height: 50%;
  width: 10%;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.dot-none {
  display: none;
}
/*# sourceMappingURL=chat.css.map */