$primary-green: #87ffa7;
$light-grey: #a5a5a5;
$background-color: lighten(rgb(47, 114, 255), 15%);
$background-color-dark: #003ea3;
$primary-orange: lighten(rgb(255, 102, 71), 5%);
$background-color-light: #2d3142;
$primary-white: #eee;
$primary-yellow: rgb(255, 255, 0);
$bp-largest: 100em;
$bp-large: 75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
//Login body
*:focus {
    outline: none;
}

$text-color: rgb(86, 96, 104);
$translateAmount: 100px;
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY($translateAmount)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popUp {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1);
    }
}

.login__background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, $background-color, $background-color-dark);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;
    .login__block {
        border-radius: 20px;
        background-image: linear-gradient(to top left, $primary-orange, $primary-yellow);
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10rem 15rem;
        width: 60%;
        z-index: 10;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, .3);
        &::after {
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            z-index: -100;
            width: 99%;
            height: 99%;
            top: .5%;
            left: .5%;
            border-radius: 20px;
            background-color: $primary-white;
        }
        @media(max-width: $bp-largest) and (min-height: 1400px) {
            padding: 15rem 5rem;
            width: 70%;
            .login__logo {
                width: 40rem;
                height: 40rem;
            }
            a {
                fill: $primary-white;
            }
        }
        @media (max-width: $bp-large) and (min-height: 1400px) {
            padding: 7.5rem 5rem;
            width: 75%;
        }
        // @media (max-width: $bp-medium) {
        //     padding: 8rem 7.5rem;
        //     width: 75%;
        // }
        @media (max-width: $bp-small) and (min-height: 1400px) {
            padding: 5rem 4rem;
            width: 100%;
            background-image: none;
            color: $primary-white;
            box-shadow: none;
            margin-top: -5rem;
            .login__logo {
                width: 15rem;
                height: 15rem;
            }
            a {
                fill: $primary-white;
            }
            .form-group {
                color: $primary-white;
                label {
                    color: $primary-white;
                }
                .form-input {
                    border-color: $primary-white;
                }
            }
            &::after {
                background-color: transparent;
            }
        }
        @media (max-height: 1400px) and (min-width: 100em) {
            padding: 1rem 5rem;
        }
        @media (max-height: 1100px) and(min-width: 100em) {
            padding: 0.5rem 5rem;
            .login__logo {
                padding: 0 0;
                width: 20rem;
                height: 20rem;
            }
        }
        @media (max-height: 1100px) and(min-width: 75em) {
            padding: 10rem 10rem;
            .login__logo {
                padding: 0 0;
                width: 20rem;
                height: 20rem;
            }
        }
        @media (max-height: 1100px) and(min-width: 100em) {
            padding: 3rem 10rem;
            .login__logo {
                padding: 0 0;
                width: 10rem;
                height: 10rem;
            }
        }
        @media (max-height: 1400px) and(max-width: 75em) {
            padding: 15rem 5rem;
            width: 75%;
            .login__logo {
                padding: 0 0;
                width: 20rem;
                height: 20rem;
            }
        }
        @media (max-height: 1100px) and(max-width: 75em) {
            padding: 10rem 10rem;
            .login__logo {
                padding: 0 0;
                width: 20rem;
                height: 20rem;
            }
        }
        @media (max-height: 950px) and(max-width: 75em) {
            padding: 5rem 10rem;
            .login__logo {
                padding: 0 0;
                width: 20rem;
                height: 20rem;
            }
        }
    }
}

.login__logo {
    width: 30rem;
    height: 30rem;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    form {
        width: 100%;
    }
    .form-group {
        transform: translateY($translateAmount);
        opacity: 0;
        position: relative;
        animation: fadeIn 1.5s forwards;
        margin-top: 4rem;
        &:last-of-type {
            margin-bottom: 4rem;
        }
        &:nth-child(1) {
            animation-delay: 0.5s;
        }
        &:nth-child(2) {
            animation-delay: 1s;
        }
    }
    .form-group>label {
        font-size: 2rem;
        @media (max-width: $bp-largest) {
            font-size: 2.5rem;
        }
        position: absolute;
        margin: 0;
        margin-left: 1rem;
        width: 100%;
        left: 0rem;
        top: -.5rem;
        pointer-events: none;
        color: $text-color;
        transition: 0.3s;
    }
    .form-input {
        flex: 1;
        font-size: 2rem;
        @media (max-width: $bp-largest) {
            font-size: 2.5rem;
        }
        // margin-bottom: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid $text-color;
        border-radius: 0px;
        width: 100%;
        display: inline-block;
        padding-left: 1rem;
        padding-bottom: .5rem;
        &:focus {
            border: none;
            border-bottom: 2px solid $text-color;
        }
        &:focus+label {
            top: -2rem;
            font-size: 1rem;
            @media (max-width: $bp-largest) {
                font-size: 1.5rem;
            }
        }
        &:valid+label {
            top: -2rem;
            font-size: 1rem;
        }
    }
    .login-button {
        width: 100%;
        transform: scale(0);
        display: inline-block;
        animation: popUp 1s 1.5s forwards;
    }
    .forgot-password {
        display: inline-block;
        font-size: 1.6rem;
        transform: scale(0);
        animation: popUp 1s 1.5s forwards;
        color: $background-color;
    }
    .login__icon {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        position: absolute;
        left: -2rem;
        top: .5rem;
    }
}

//forgot password page styling
.forgotPassword {
    border: 2px solid $light-grey;
    border-radius: 10px;
    padding: 10rem 7.5rem 20rem 7.5rem;
    margin-top: 10rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    h3 {
        margin-bottom: 10rem;
    }
    &__label {
        font-size: 2rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 1rem;
        pointer-events: none;
        color: $text-color;
        transition: 0.3s;
    }
    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__container {
        display: flex;
        opacity: 0;
        transform: translateY($translateAmount);
        position: relative;
        align-items: center;
        justify-content: space-around;
        animation: fadeIn 1s 0s forwards;
    }
    &__email {
        font-size: 2rem;
        margin-bottom: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid $text-color;
        border-radius: 0px;
        width: 85%;
        z-index: 2;
        display: inline-block;
        &:focus {
            border: none;
            border-bottom: 2px solid $text-color;
        }
        &:focus+label {
            top: -2rem;
            font-size: 1rem;
        }
        &:valid+label {
            top: -2rem;
            font-size: 1rem;
        }
    }
}

.changePassword {
    margin-top: 10rem;
    border: 2px solid $light-grey;
    border-radius: 10px;
    padding: 10rem 15rem 25rem 15rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50rem;
    }
    &__form-group {
        transform: translateY($translateAmount);
        opacity: 0;
        position: relative;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        animation: fadeIn 1s forwards;
        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: .25s;
        }
        &:nth-child(3) {
            animation-delay: .5s;
        }
    }
    &__input {
        align-self: stretch;
        font-size: 2rem;
        margin-bottom: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid $text-color;
        border-radius: 0px;
        width: 100%;
        z-index: 2;
        display: inline-block;
        &:focus {
            border: none;
            border-bottom: 2px solid $text-color;
        }
        &:focus+label {
            top: -2rem;
            font-size: 1rem;
        }
        &:valid+label {
            top: -2rem;
            font-size: 1rem;
        }
    }
    &__label {
        font-size: 2rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 1rem;
        pointer-events: none;
        color: $text-color;
        transition: 0.3s;
    }
    &__submit {
        width: 85%;
        transform: scale(0);
        display: inline-block;
        animation: popUp 1s .75s forwards;
    }
    .forgot-password {
        display: inline-block;
        font-size: 1.6rem;
        transform: scale(0);
        animation: popUp 1s .75s forwards;
    }
}

.resetPassword {
    margin-top: 10rem;
    border: 2px solid $light-grey;
    border-radius: 10px;
    padding: 10rem 15rem 25rem 15rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50rem;
    }
    &__group {
        transform: translateY($translateAmount);
        opacity: 0;
        position: relative;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        animation: fadeIn 1s forwards;
        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: .25s;
        }
        &:nth-child(3) {
            animation-delay: .5s;
        }
    }
    &__input {
        align-self: stretch;
        font-size: 2rem;
        margin-bottom: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid $text-color;
        border-radius: 0px;
        width: 100%;
        z-index: 2;
        display: inline-block;
        &:focus {
            border: none;
            border-bottom: 2px solid $text-color;
        }
        &:focus+label {
            top: -2rem;
            font-size: 1rem;
        }
        &:valid+label {
            top: -2rem;
            font-size: 1rem;
        }
    }
    &__label {
        font-size: 2rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 1rem;
        pointer-events: none;
        color: $text-color;
        transition: 0.3s;
    }
    &__submit {
        width: 85%;
        transform: scale(0);
        display: inline-block;
        animation: popUp 1s .75s forwards;
    }
}

.emailSent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}