$text-color: "#6C757D";
.body{
    width: 100%;
    height: 100vh;
    background: url('../../images/hackathon-background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;
}
.login-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 

    .form-control{
        background: none;
        border: none;
        border-bottom: 2px solid $text-color;   
    }
}