@-webkit-keyframes submitPulse {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-2px);
            transform: scale(1.1) translateY(-2px);
  }
}

@keyframes submitPulse {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-2px);
            transform: scale(1.1) translateY(-2px);
  }
}

.createPost__modal-cover {
  color: #4983ff;
  z-index: 69420;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.createPost__modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 50rem;
  max-height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createPost__title {
  width: 100%;
  position: relative;
  font-size: 3rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 2rem;
  padding-right: 5rem;
  height: 5rem;
}

.createPost__title:focus + label,
.createPost__title:valid + label {
  visibility: hidden;
}

.createPost__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #7ca6ff;
  font-size: 3rem;
  padding-left: 2rem;
  pointer-events: none;
}

.createPost__content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 45rem;
  font-size: 2rem;
  padding: 2rem 2rem;
}

.createPost__icon {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 70000;
}

.createPost__icon-wrapper {
  position: absolute;
  right: -2rem;
  top: -2rem;
  z-index: 69999;
  height: 7rem;
  width: 7rem;
  background-image: radial-gradient(#5093ff, #7ca6ff);
  border-radius: 100px;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0s ease .3s;
  transition: all 0s ease .3s;
}

.createPost__icon-wrapper:hover {
  -webkit-animation: submitPulse .3s ease-out;
          animation: submitPulse .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.createPost__submit {
  visibility: hidden;
}

.createPost__submit-wrapper {
  position: relative;
  height: 0;
}

[data-status='open'] .createPost__modal-cover,
[data-status='open'] .editPost__modal-cover,
[data-status='open'] .posts__modal-cover,
[data-status='open'] .editComment__modal-cover,
[data-status='open'] .editReply__modal-cover {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.posts {
  font-size: 1.6rem;
}

.posts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.posts__modal-cover {
  color: #4983ff;
  z-index: 69420;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.posts__modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.posts__buttons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__yes {
  background-color: #7ca6ff;
  width: 6rem;
  height: 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
}

.posts__no {
  background-color: #a5a5a5;
  width: 6rem;
  height: 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
}

.post {
  color: black;
  width: 60%;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ff7b61), to(yellow));
  background-image: linear-gradient(to top left, #ff7b61, yellow);
  margin-top: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.post::after {
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  z-index: 0;
  width: 99%;
  height: 99%;
  top: .25%;
  left: .5%;
  border-radius: 10px;
  background-color: white;
}

.post__header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem 1rem 0rem;
}

.post__edit {
  margin-top: -.5rem;
  margin-left: -.5rem;
}

.post__edit:hover {
  cursor: pointer;
}

.post__edit-icon::before {
  content: '\2807';
  font-size: 3rem;
  margin-top: -2rem;
}

.post__edit-icon:hover + .post__dropdown {
  visibility: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.post__dropdown {
  z-index: 1000000;
  position: relative;
  overflow: auto;
  border: 1px solid #a5a5a5;
  background-color: white;
  -webkit-box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  visibility: hidden;
  height: 0;
  position: absolute;
}

.post__dropdown:hover {
  visibility: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.post__dropdown-item {
  padding: .5rem .5rem;
  margin-bottom: 0;
  color: black;
}

.post__dropdown-item:not(:last-child) {
  border-bottom: 1px solid #a5a5a5;
}

.post__dropdown-item:hover {
  background-color: #e6e6e6;
}

.post__user-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__content-container {
  text-align: center;
}

.post__title {
  text-align: start;
}

.post__avatar {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin-left: 1rem;
}

.post__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  position: relative;
  z-index: 1;
  padding: 3rem;
  padding-bottom: 1rem;
}

.post__read-more {
  font-size: 1.6rem;
  color: #7ca6ff;
  font-weight: 400;
}

.post__read-more:hover {
  cursor: pointer;
  color: #4983ff;
}

.post__interactions {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
  z-index: 1;
  border-bottom: 2px solid #a5a5a5;
  border-top: 2px solid #a5a5a5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post__likes {
  fill: #003ea3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.post__likes p {
  margin-left: 1rem;
}

.post__likes svg {
  width: 3rem;
  height: 3rem;
}

.post__comments {
  fill: #003ea3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.post__comments p {
  margin-left: 1rem;
}

.post__comments svg {
  width: 3rem;
  height: 3rem;
}

.post__comment-section {
  width: 100%;
  z-index: 100000;
}

.post__create-comment {
  width: 100%;
  margin-top: .5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 100000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.post__create-comments {
  background-color: transparent;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 999999999;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__comment-input {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  border: 2px solid #a5a5a5;
  border-bottom-left-radius: 10px;
  padding: 0rem 1rem;
}

.post__comment-input:focus {
  border: 2px solid #5093ff;
}

.post__send-comment {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border: 2px solid #a5a5a5;
  border-bottom-right-radius: 10px;
}

.post__comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 45vh;
  overflow: hidden;
  margin-bottom: 1rem;
}

.post .comment {
  border-radius: 5px;
  width: 100%;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #d0e2ff;
  padding: 2rem;
  margin: 1rem 0rem;
}

.post .comment__section {
  width: 90%;
  padding: 2rem;
}

.post .comment__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .comment__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  margin-right: 1rem;
}

.post .comment__text {
  width: 100%;
  border: none;
  background: transparent;
}

.post .comment__text::-webkit-input-placeholder {
  color: black;
  width: 100%;
}

.post .comment__text:-ms-input-placeholder {
  color: black;
  width: 100%;
}

.post .comment__text::-ms-input-placeholder {
  color: black;
  width: 100%;
}

.post .comment__text::placeholder {
  color: black;
  width: 100%;
}

.post .comment__read-more {
  font-size: 1.6rem;
  color: #7ca6ff;
  font-weight: 400;
}

.post .comment__read-more:hover {
  cursor: pointer;
  color: #4983ff;
}

.post .comment__like-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .comment__like-counter {
  position: absolute;
  left: -1.5rem;
}

.post .comment__like {
  width: 2rem;
  height: 2rem;
  display: block;
  cursor: pointer;
}

.post .comment__replies {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .comment__reply-counter {
  position: absolute;
  left: -1.5rem;
}

.post .comment__reply {
  width: 2rem;
  height: 2rem;
  display: block;
  cursor: pointer;
}

.post .comment__reply-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .comment__reply-input {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  border: 2px solid #a5a5a5;
  border-radius: 10px;
  padding: 0rem 1rem;
}

.post .comment__reply-input:focus {
  border: 2px solid #5093ff;
}

.post .comment__reply-send {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border: 2px solid #a5a5a5;
  border-radius: 10px;
}

.post .comment__replies-section {
  width: 90%;
  float: right;
  visibility: hidden;
  height: 0;
}

.post .comment__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .comment__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .comment__bottom form {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.post .comment__see-more {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  width: 100%;
  bottom: 0;
  padding-top: 4rem;
  text-align: center;
  font-size: 2rem;
  visibility: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 0;
  color: yellow;
  cursor: pointer;
  font-weight: 700;
}

.post .comment__edit {
  margin-top: -.5rem;
  margin-left: -.5rem;
}

.post .comment__edit:hover {
  cursor: pointer;
}

.post .comment__edit-icon::before {
  content: '\2807';
  font-size: 3rem;
  margin-top: -2rem;
}

.post .comment__edit-icon:hover + .comment__dropdown {
  visibility: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.post .comment__dropdown {
  z-index: 100000;
  position: relative;
  overflow: auto;
  border: 1px solid #a5a5a5;
  background-color: white;
  -webkit-box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  visibility: hidden;
  height: 0;
  position: absolute;
}

.post .comment__dropdown:hover {
  visibility: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.post .comment__dropdown-item {
  padding: .5rem .5rem;
  margin-bottom: 0;
  color: black;
}

.post .comment__dropdown-item:not(:last-child) {
  border-bottom: 1px solid #a5a5a5;
}

.post .reply {
  border: 2px solid #2d3142;
  border-radius: 5px;
  width: 100%;
  background-color: #d0e2ff;
  padding: 2rem;
  margin: 1rem 0rem;
}

.post .reply__section {
  width: 90%;
  padding: 2rem;
  margin: 1rem 0rem;
}

.post .reply__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .reply__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  margin-right: 1rem;
}

.post .reply__text {
  width: 100%;
  border: none;
  background: transparent;
}

.post .reply__text::-webkit-input-placeholder {
  color: black;
  width: 100%;
}

.post .reply__text:-ms-input-placeholder {
  color: black;
  width: 100%;
}

.post .reply__text::-ms-input-placeholder {
  color: black;
  width: 100%;
}

.post .reply__text::placeholder {
  color: black;
  width: 100%;
}

.post .reply__read-more {
  font-size: 1.6rem;
  color: #7ca6ff;
  font-weight: 400;
}

.post .reply__read-more:hover {
  cursor: pointer;
  color: #4983ff;
}

.post .reply__like-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .reply__like-counter {
  position: absolute;
  left: -1.5rem;
}

.post .reply__like {
  width: 2rem;
  height: 2rem;
  display: block;
  cursor: pointer;
}

.post .reply__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .reply__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .reply__bottom form {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.post .reply__edit {
  margin-top: -.5rem;
  margin-left: -.5rem;
}

.post .reply__edit:hover {
  cursor: pointer;
}

.post .reply__edit-icon::before {
  content: '\2807';
  font-size: 3rem;
  margin-top: -2rem;
}

.post .reply__edit-icon:hover + .reply__dropdown {
  visibility: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.post .reply__dropdown {
  z-index: 100000;
  position: relative;
  overflow: auto;
  border: 1px solid #a5a5a5;
  background-color: white;
  -webkit-box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  visibility: hidden;
  height: 0;
  position: absolute;
}

.post .reply__dropdown:hover {
  visibility: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.post .reply__dropdown-item {
  padding: .5rem .5rem;
  margin-bottom: 0;
  color: black;
}

.post .reply__dropdown-item:not(:last-child) {
  border-bottom: 1px solid #a5a5a5;
}

[data-number='-1'] {
  max-height: calc(40vh + 30px) !important;
  padding-bottom: 4rem;
}

[data-number='1'] {
  max-height: calc(40vh + 168px) !important;
}

[data-number='2'] {
  max-height: calc(40vh + 2*168px) !important;
}

[data-number='3'] {
  max-height: calc(40vh + 3*168px) !important;
}

[data-number='4'] {
  max-height: calc(40vh + 3*168px) !important;
}

[data-number='5'] {
  max-height: calc(40vh + 3*168px) !important;
}

[data-status='extended'] {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: none !important;
}

[data-status='extended'] .comment__section:last-child {
  margin-bottom: 4rem;
}

[data-status='on'] {
  visibility: visible !important;
  height: 12rem !important;
}

[data-status=true] svg {
  background-color: #7ca6ff;
  -webkit-clip-path: url(#likeSVG);
          clip-path: url(#likeSVG);
}

[data-status='dropped'] {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  visibility: visible !important;
}

.editPost__modal-cover {
  color: #4983ff;
  z-index: 69420;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.editPost__modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editPost__title {
  width: 100%;
  position: relative;
  font-size: 3rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 2rem;
  padding-right: 5rem;
  height: 5rem;
}

.editPost__title:focus + label,
.editPost__title:valid + label {
  visibility: hidden;
}

.editPost__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #7ca6ff;
  font-size: 3rem;
  padding-left: 2rem;
  pointer-events: none;
}

.editPost__content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 45rem;
  font-size: 2rem;
  padding: 2rem 2rem;
}

.editPost__icon {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 70000;
}

.editPost__icon-wrapper {
  position: absolute;
  right: -2rem;
  top: -2rem;
  z-index: 70001;
  height: 7rem;
  width: 7rem;
  background-image: radial-gradient(#5093ff, #7ca6ff);
  border-radius: 100px;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0s ease .3s;
  transition: all 0s ease .3s;
}

.editPost__icon-wrapper:hover {
  -webkit-animation: submitPulse .3s ease-out;
          animation: submitPulse .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.editPost__submit {
  visibility: hidden;
}

.editPost__submit-wrapper {
  position: relative;
  height: 0;
}

.editComment__modal-cover {
  color: #4983ff;
  z-index: 69420;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.editComment__modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editComment__title {
  width: 100%;
  position: relative;
  font-size: 3rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 2rem;
  padding-right: 5rem;
  height: 5rem;
}

.editComment__title:focus + label,
.editComment__title:valid + label {
  visibility: hidden;
}

.editComment__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #7ca6ff;
  font-size: 3rem;
  padding-left: 2rem;
  pointer-events: none;
}

.editComment__text {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 45rem;
  font-size: 2rem;
  padding: 2rem 2rem;
}

.editComment__icon {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 70000;
}

.editComment__icon-wrapper {
  position: absolute;
  right: -2rem;
  top: -2rem;
  z-index: 69999;
  height: 7rem;
  width: 7rem;
  background-image: radial-gradient(#5093ff, #7ca6ff);
  border-radius: 100px;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0s ease .3s;
  transition: all 0s ease .3s;
}

.editComment__icon-wrapper:hover {
  -webkit-animation: submitPulse .3s ease-out;
          animation: submitPulse .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.editComment__submit {
  visibility: hidden;
}

.editComment__submit-wrapper {
  position: relative;
  height: 0;
}

.editReply__modal-cover {
  color: #4983ff;
  z-index: 69420;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.editReply__modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editReply__title {
  width: 100%;
  position: relative;
  font-size: 3rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 2rem;
  padding-right: 5rem;
  height: 5rem;
}

.editReply__title:focus + label,
.editReply__title:valid + label {
  visibility: hidden;
}

.editReply__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #7ca6ff;
  font-size: 3rem;
  padding-left: 2rem;
  pointer-events: none;
}

.editReply__text {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 45rem;
  font-size: 2rem;
  padding: 2rem 2rem;
}

.editReply__icon {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 70000;
}

.editReply__icon-wrapper {
  position: absolute;
  right: -2rem;
  top: -2rem;
  z-index: 69999;
  height: 7rem;
  width: 7rem;
  background-image: radial-gradient(#5093ff, #7ca6ff);
  border-radius: 100px;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0s ease .3s;
  transition: all 0s ease .3s;
}

.editReply__icon-wrapper:hover {
  -webkit-animation: submitPulse .3s ease-out;
          animation: submitPulse .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.editReply__submit {
  visibility: hidden;
}

.editReply__submit-wrapper {
  position: relative;
  height: 0;
}
/*# sourceMappingURL=posts.css.map */