$primary-green: #87ffa7;
$light-grey: #a5a5a5;
$background-color: lighten(rgb(47, 114, 255), 15%);
$background-color-dark: #003ea3;
$primary-orange: lighten(rgb(255, 102, 71), 5%);
$background-color-light: #2d3142;
$background-color-lighter: #5093ff;
$primary-white: #eee;
$primary-yellow: rgb(255, 255, 0);
//border-radius value for the form containers on login, forgot password, reset password, change password, and register
$form-border-radius: 10px;
$bp-largest: 100em;
$bp-large: 75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
@keyframes submitPulse {
    0% {
        transform: scale(1) translateY(0px);
    }
    // 50% {
    //     transform: scale(1.05) translateY(-1px);
    // }
    100% {
        transform: scale(1.1) translateY(-2px);
    }
}

@keyframes itemAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.createPost {
    &__modal-cover {
        color: #4983ff;
        z-index: 69420;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        transition: all .5s ease;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(2px);
        visibility: hidden;
        transform: scale(0);
    }
    &__modal-main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 50rem;
        max-height: 40rem;
        display: flex;
        flex-direction: column;
        z-index: 70000;
    }
    &__title {
        width: 100%;
        position: relative;
        font-size: 3rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-left: 2rem;
        padding-right: 5rem;
        height: 5rem;
        &:focus+label,
        &:valid+label {
            visibility: hidden;
        }
    }
    &__label {
        position: absolute;
        top: 0;
        left: 0;
        color: $background-color;
        font-size: 3rem;
        padding-left: 2rem;
        pointer-events: none;
    }
    &__content {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 45rem;
        font-size: 2rem;
        padding: 2rem 2rem;
    }
    &__icon {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 70000;
    }
    &__icon-wrapper {
        position: absolute;
        right: -2rem;
        top: -2rem;
        z-index: 69999;
        height: 7rem;
        width: 7rem;
        background-image: radial-gradient( $background-color-lighter, $background-color);
        border-radius: 100px;
        box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .3);
        transition: all 0s ease .3s;
        &:hover {
            animation: submitPulse .3s ease-out;
            animation-fill-mode: forwards;
        }
    }
    &__submit {
        visibility: hidden;
    }
    &__submit-wrapper {
        position: relative;
        height: 0;
    }
}

//modal controller
[data-status='open'] .createPost__modal-cover,
[data-status='open'] .editPost__modal-cover,
[data-status='open'] .posts__modal-cover,
[data-status='open'] .editComment__modal-cover,
[data-status='open'] .editReply__modal-cover {
    visibility: visible;
    transform: scale(1);
}

//for overall posts page
.posts {
    font-size: 1.6rem;
    &__centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 5rem;
    }
    &__modal-cover {
        color: #4983ff;
        z-index: 69420;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        transition: all .5s ease;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(2px);
        visibility: hidden;
        transform: scale(0);
    }
    &__modal-main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    &__buttons {
        margin-top: 2rem;
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    &__yes {
        background-color: $background-color;
        width: 6rem;
        height: 3rem;
        font-size: 1.6rem;
        border: none;
        border-radius: 10px;
    }
    &__no {
        background-color: $light-grey;
        width: 6rem;
        height: 3rem;
        font-size: 1.6rem;
        border: none;
        border-radius: 10px;
    }
}

//for each specific post
.post {
    color: black;
    width: 60%;
    border-radius: $form-border-radius;
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    z-index: 1;
    height: fit-content;
    animation: .3s itemAppear ease;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: transform, box-shadow;
    &:hover {
        box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    }
    &__header-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem 1rem 0rem;
    }
    //for the triple dot for the dropdown
    &__edit {
        margin-top: -.5rem;
        margin-right: -1.5rem;
        &:hover {
            cursor: pointer;
        }
        &-icon {
            &::before {
                content: '\2807';
                font-size: 3rem;
                margin-top: -2rem;
            }
            &:hover+.post__dropdown {
                visibility: visible;
                height: 8.2rem;
            }
        }
    }
    //for the "edit" and "delete" dropdown 
    &__dropdown {
        z-index: 1000000;
        position: relative;
        overflow: hidden;
        border: 1px solid $light-grey;
        background-color: white;
        box-shadow: 0rem .5rem .5rem rgba(32, 33, 36, .28);
        visibility: hidden;
        height: 0;
        position: absolute;
        transition-property: height, box-shadow;
        transition-duration: .3s;
        &:hover {
            visibility: visible;
            height: 8.2rem;
            cursor: pointer;
        }
        &-item {
            padding: .5rem .5rem;
            margin-bottom: 0;
            color: black;
            &:not(:last-child) {
                border-bottom: 1px solid $light-grey;
            }
            &:hover {
                background-color: darken(white, 10%);
            }
        }
    }
    //for the name and avatar of the user
    &__user-fields {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
    //wrapper of user fields 
    &__fields-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }
    //for the name and title
    &__userTitle {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 1rem;
        h4 {
            position: relative;
            display: inline-block;
            margin: 0;
        }
        p {
            position: relative;
            display: inline-block;
            margin: 0;
        }
    }
    //for the title and body of the post
    &__content-container {}
    //for the title
    &__title {
        text-align: start;
    }
    //for the avatar
    &__avatar {
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
    }
    &__title {
        font-weight: 500;
    }
    //for the main body of the post
    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: fit-content;
        position: relative;
        z-index: 1;
        padding: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    //for the "show more" button
    &__read-more {
        font-size: 1.6rem;
        color: $background-color;
        font-weight: 400;
        &:hover {
            cursor: pointer;
            color: darken($background-color, 10%);
        }
    }
    //for the bar containing the comment and like options
    &__interactions {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: .75rem 0rem .75rem 0rem;
        position: relative;
        z-index: 1;
        border-top: 2px solid rgba(126, 126, 126, 0.4);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    //for the like icon
    &__likes {
        fill: $background-color-dark;
        // grid-column: 2/3;
        display: flex;
        align-items: center;
        margin: 1rem;
        margin-bottom: 0;
        margin-top: 0;
        cursor: pointer;
        position: relative;
        svg {
            width: 3rem;
            height: 3rem;
        }
    }
    &__like-icon {
        margin-right: .75rem;
        margin-left: .75rem;
        cursor: pointer;
        transition: color .25s ease-out;
        z-index: 10;
    }
    &__likes-counter {
        font-size: 1rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    //for the comment icon
    &__comments {
        fill: $background-color-dark;
        // grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        p {
            margin-left: 1rem;
        }
        svg {
            width: 3rem;
            height: 3rem;
        }
    }
    &__comment-icon {
        margin: 0;
        margin-right: .75rem;
        margin-left: .75rem;
        cursor: pointer;
        color: rgb(47, 114, 255);
    }
    //container for comments and comment form
    &__comment-section {
        width: 60%;
        // max-height: 45vh;
        z-index: 5;
    }
    //form to add a comment
    &__create-comment {
        width: 60%;
        overflow: hidden;
        margin-top: .5%;
        margin-bottom: .4%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 100000000;
        box-sizing: border-box;
        padding-bottom: 1rem;
    }
    &__create-comments {
        background-color: white;
        width: 100%;
        // position: relative;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        &::after {
            background-repeat: no-repeat;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            // background-image: linear-gradient(to top left, $primary-orange, $primary-yellow);
            border-bottom-left-radius: $form-border-radius;
            border-bottom-right-radius: $form-border-radius;
        }
    }
    //input to add a comment
    &__comment-input {
        flex-basis: 90%;
        width: 100%;
        border: none;
        border-bottom-left-radius: $form-border-radius;
        border-bottom: 1px solid #ff6647;
        padding: 0rem 1rem;
        &:focus+.post__send-comment {
            background-color: $background-color;
        }
    }
    //submit button for create comment form
    &__send-comment {
        flex-basis: 10%;
        width: 100%;
        height: 10%;
        border: 2px rgb(47, 114, 255) solid;
        background-color: white;
        border-bottom-right-radius: $form-border-radius;
    }
    //styling for container of comments
    &__comment-container {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 5rem;
    }
}

// //to add height to the comment section when replies for the first comment are extended
// [data-number='-1'] {
//     max-height: calc(40vh + 30px)!important;
//     padding-bottom: 4rem;
// }
// [data-number='1'] {
//     max-height: calc(40vh + 168px)!important;
// }
// [data-number='2'] {
//     max-height: calc(40vh + 2*168px)!important;
// }
// [data-number='3'] {
//     max-height: calc(40vh + 3*168px)!important;
// }
// [data-number='4'] {
//     max-height: calc(40vh + 3*168px)!important;
// }
// [data-number='5'] {
//     max-height: calc(40vh + 3*168px)!important;
// }
// [data-number='6'] {
//     max-height: calc(40vh + 3*168px)!important;
// }
// [data-number='7'] {
//     max-height: calc(40vh + 3*168px)!important;
// }
//to control the read-more section
[data-status='extended'] {
    height: fit-content;
    max-height: none!important;
    .comment__section:last-child {
        margin-bottom: 5rem;
    }
}

//to extend the comments section
[data-status='on'] {
    visibility: visible!important;
    height: 12rem!important;
}

//to color the like button if a post has been liked
[data-status=true] i {
    color: red;
}

//to drop down the replies section when clicked
[data-status='dropped'] {
    max-height: 100rem!important;
    visibility: visible!important;
}

.editPost {
    &__modal-cover {
        color: #4983ff;
        z-index: 69420;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        transition: all .5s ease;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(2px);
        visibility: hidden;
        transform: scale(0);
    }
    &__modal-main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50rem;
        height: 40rem;
        display: flex;
        flex-direction: column;
    }
    &__title {
        width: 100%;
        position: relative;
        font-size: 3rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-left: 2rem;
        padding-right: 5rem;
        height: 5rem;
        &:focus+label,
        &:valid+label {
            visibility: hidden;
        }
    }
    &__label {
        position: absolute;
        top: 0;
        left: 0;
        color: $background-color;
        font-size: 3rem;
        padding-left: 2rem;
        pointer-events: none;
    }
    &__content {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 45rem;
        font-size: 2rem;
        padding: 2rem 2rem;
    }
    &__icon {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 70000;
    }
    &__icon-wrapper {
        position: absolute;
        right: -2rem;
        top: -2rem;
        z-index: 70001;
        height: 7rem;
        width: 7rem;
        background-image: radial-gradient( $background-color-lighter, $background-color);
        border-radius: 100px;
        box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .3);
        transition: all 0s ease .3s;
        &:hover {
            animation: submitPulse .3s ease-out;
            animation-fill-mode: forwards;
        }
    }
    &__submit {
        visibility: hidden;
    }
    &__submit-wrapper {
        position: relative;
        height: 0;
    }
}

//styling for the edit comment modal
.editComment {
    &__modal-cover {
        color: #4983ff;
        z-index: 69420;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        transition: all .5s ease;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(2px);
        visibility: hidden;
        transform: scale(0);
    }
    &__modal-main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50rem;
        height: 40rem;
        display: flex;
        flex-direction: column;
    }
    &__title {
        width: 100%;
        position: relative;
        font-size: 3rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-left: 2rem;
        padding-right: 5rem;
        height: 5rem;
        &:focus+label,
        &:valid+label {
            visibility: hidden;
        }
    }
    &__label {
        position: absolute;
        top: 0;
        left: 0;
        color: $background-color;
        font-size: 3rem;
        padding-left: 2rem;
        pointer-events: none;
    }
    &__text {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 45rem;
        font-size: 2rem;
        padding: 2rem 2rem;
    }
    &__icon {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 70000;
    }
    &__icon-wrapper {
        position: absolute;
        right: -2rem;
        top: -2rem;
        z-index: 69999;
        height: 7rem;
        width: 7rem;
        background-image: radial-gradient( $background-color-lighter, $background-color);
        border-radius: 100px;
        box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .3);
        transition: all 0s ease .3s;
        &:hover {
            animation: submitPulse .3s ease-out;
            animation-fill-mode: forwards;
        }
    }
    &__submit {
        visibility: hidden;
    }
    &__submit-wrapper {
        position: relative;
        height: 0;
    }
}

//styling for the editReply modal
.editReply {
    &__modal-cover {
        color: #4983ff;
        z-index: 69420;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        transition: all .5s ease;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(2px);
        visibility: hidden;
        transform: scale(0);
    }
    &__modal-main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50rem;
        height: 40rem;
        display: flex;
        flex-direction: column;
    }
    &__title {
        width: 100%;
        position: relative;
        font-size: 3rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-left: 2rem;
        padding-right: 5rem;
        height: 5rem;
        &:focus+label,
        &:valid+label {
            visibility: hidden;
        }
    }
    &__label {
        position: absolute;
        top: 0;
        left: 0;
        color: $background-color;
        font-size: 3rem;
        padding-left: 2rem;
        pointer-events: none;
    }
    &__text {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 45rem;
        font-size: 2rem;
        padding: 2rem 2rem;
    }
    &__icon {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 70000;
    }
    &__icon-wrapper {
        position: absolute;
        right: -2rem;
        top: -2rem;
        z-index: 69999;
        height: 7rem;
        width: 7rem;
        background-image: radial-gradient( $background-color-lighter, $background-color);
        border-radius: 100px;
        box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .3);
        transition: all 0s ease .3s;
        &:hover {
            animation: submitPulse .3s ease-out;
            animation-fill-mode: forwards;
        }
    }
    &__submit {
        visibility: hidden;
    }
    &__submit-wrapper {
        position: relative;
        height: 0;
    }
}