.navContainer {
  position: fixed;
  color: #eee;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 1000000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.navContainer .navbar-brand {
  margin-left: 3rem;
  color: #4983ff;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.navContainer .auth-links {
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.navContainer .auth-links div {
  display: inline-block;
}

.navContainer .auth-links .link-list {
  min-height: 100%;
  list-style-type: none;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: white;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.navContainer .auth-links .link-list .active {
  background: none !important;
}

.navContainer .auth-links .link-list a:active,
.navContainer .auth-links .link-list a:link {
  color: #4983ff;
  background-color: none !important;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  text-decoration: none;
}

.navContainer .auth-links .link-list label {
  color: #4983ff;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.navContainer .auth-links .link-list li {
  color: #4983ff;
  margin: 0 !important;
  text-align: center;
  padding: 0;
  float: left;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.navContainer .auth-links .link-list li:hover {
  background-color: #4983ff !important;
}

.navContainer .auth-links .link-list li:hover a {
  color: #eee;
}

.navContainer .auth-links .link-list li:hover label {
  color: #eee;
}

.navContainer .logout-link {
  max-height: 4rem;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.navContainer .dropdown__toggle:hover h3 {
  color: #eee;
}

.navContainer .dropdown__toggle h3 {
  color: #4983ff;
}

.scrolled {
  background-color: #4983ff;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.scrolled .link-list li {
  color: #eee;
}

.scrolled .link-list li:hover {
  background-color: #1661ff;
}

.scrolled .link-list a:active,
.scrolled .link-list a:link,
.scrolled .link-list .active,
.scrolled .link-list a {
  background-color: none !important;
  color: #eee !important;
}

.scrolled .link-list label {
  background-color: none !important;
  color: #eee !important;
}

.scrolled .navbar-brand {
  background-color: none !important;
}

.scrolled .navbar-brand h3 {
  color: #eee !important;
}

.scrolled .dropdown__toggle .dropdown__top h3 {
  color: #eee;
}

.dropdown-background {
  background: #4983ff;
}

.dropdownReplacement {
  height: 3rem;
  width: 100%;
  display: block;
  background-color: #4983ff;
  -webkit-animation: dropdown;
          animation: dropdown;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  color: #eee;
}

.dropdownReplacement .auth-links div {
  display: inline-block;
}

.dropdownReplacement .auth-links .link-list {
  color: #eee;
  min-height: 100%;
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdownReplacement .auth-links .link-list li {
  color: #eee;
  padding: 0;
  float: left;
  list-style-type: none;
}

.dropdownReplacement .auth-links .link-list li .nav-link {
  color: #eee;
  -webkit-animation: dropdown-text;
          animation: dropdown-text;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.navCheckbox {
  display: none;
}

.navCheckbox:checked ~ .hack-modal .modal-main {
  -webkit-animation: scaleTranslateModal 1s;
          animation: scaleTranslateModal 1s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes scaleTranslateModal {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0.125) translate(-50%, -50%);
            transform: scale(0.125) translate(-50%, -50%);
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes scaleTranslateModal {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0.125) translate(-50%, -50%);
            transform: scale(0.125) translate(-50%, -50%);
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

.modal-main {
  z-index: 1000;
}

@-webkit-keyframes dropdown {
  from {
    height: 0px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    height: 3rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropdown {
  from {
    height: 0px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    height: 3rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes dropdown-text {
  from {
    opacity: 0%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropdown-text {
  from {
    opacity: 0%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animation {
  background-color: #444;
}

.dropdown {
  opacity: 0;
  visibility: none;
  height: 0;
  top: 100%;
  right: 0%;
  width: 22.875rem;
  position: absolute;
  border-bottom: 1px solid transparent;
  border-radius: 20px;
  -webkit-transition: visibility .3s ease, opacity .3s ease;
  transition: visibility .3s ease, opacity .3s ease;
}

.dropdown__item {
  color: #eee;
  display: block;
  background-color: #2f72ff;
  text-align: right;
  font-size: 1.6rem;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.dropdown__item:hover {
  text-decoration: none;
  color: #eee;
  background-color: #1661ff;
}

.dropdown__item:not(:last-child) {
  border-bottom: 2px solid white;
}

.dropdown__item:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dropdown__toggle {
  color: #eee;
  display: table;
  margin-right: 3rem;
  padding: 0.5rem 2rem;
  -webkit-transition: visibility .5s ease, background-color .2s, opacity .5s ease;
  transition: visibility .5s ease, background-color .2s, opacity .5s ease;
  position: relative;
  z-index: 100;
}

.dropdown__toggle:hover {
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #2f72ff;
}

.dropdown__toggle:hover .dropdown {
  height: 137px;
  visibility: visible;
  opacity: 1;
}

.dropdown__toggle:hover ~ .dropdown {
  background-color: red;
}

.dropdown__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
  padding: 0 1rem;
}

.dropdown__top h3 {
  color: #eee;
}

.dropdown__img {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}

.dropdown__name {
  line-height: 0;
  display: block;
  text-align: center;
}

.dropdown__icon {
  width: 4rem;
  height: 2rem;
  color: #2f72ff;
}

.hackModalToggler {
  margin-top: 0.5rem;
  color: #2f72ff;
}
/*# sourceMappingURL=NavBar.css.map */