$primary-green: #87ffa7;
$light-grey: #a5a5a5;
$background-color: lighten(rgb(47, 114, 255), 5%);
$primary-orange: lighten(rgb(255, 102, 71), 5%);
$primary-white: #eee;
.navContainer {
    position: fixed;
    color: $primary-white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    display: flex;
    width: 100%;
    height: 6rem;
    align-items: center;
    background-color: white;
    z-index: 1000000;
    justify-content: space-between;
    transition: color .2s, background-color .2s;
    .navbar-brand {
        margin-left: 3rem;
        color: $background-color;
        transition: color .2s, background-color .2s;
    }
    .auth-links {
        color: $primary-white;
        display: flex;
        align-self: stretch;
        align-items: center;
        transition: color .2s, background-color .2s;
        div {
            display: inline-block;
        }
        .link-list {
            min-height: 100%;
            list-style-type: none;
            background-color: transparent!important;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: stretch;
            color: white;
            transition: color .2s, background-color .2s;
            .active {
                background: none!important;
            }
            a:active,
            a:link {
                color: $background-color;
                background-color: none!important;
                transition: color .2s, background-color .2s;
                text-decoration: none;
            }
            label {
                color: $background-color;
                transition: color .2s, background-color .2s;
            }
        }
        .link-list li {
            color: $background-color;
            margin: 0!important;
            text-align: center;
            padding: 0;
            float: left;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s;
            flex: 0 0 20%;
            &:hover {
                a {
                    color: $primary-white;
                }
                label {
                    color: $primary-white;
                }
                background-color: $background-color!important;
            }
        }
    }
    .logout-link {
        max-height: 4rem;
        transition: color .2s, background-color .2s;
    }
    .dropdown__toggle .dropdown__top {
        h3 {
            color: $background-color;
        }
    }
}

.scrolled {
    background-color: $background-color;
    transition: background-color 200ms linear;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    .link-list li {
        color: $primary-white;
        &:hover {
            background-color: darken($background-color, 10%);
        }
    }
    .link-list a:active,
    .link-list a:link,
    .link-list .active,
    .link-list a {
        background-color: none!important;
        color: $primary-white!important;
    }
    .link-list label {
        background-color: none!important;
        color: $primary-white!important;
    }
    .navbar-brand {
        background-color: none!important;
        h3 {
            color: $primary-white!important;
        }
    }
    .dropdown__toggle .dropdown__top {
        h3 {
            color: $primary-white;
        }
    }
}

.dropdown-background {
    background: $background-color;
}

.dropdownReplacement {
    height: 3rem;
    width: 100%;
    display: block;
    background-color: $background-color;
    // border-top: 2px solid $primary-white;
    animation: dropdown;
    animation-duration: 0.7s;
    color: $primary-white;
    .auth-links {
        div {
            display: inline-block;
        }
        .link-list {
            color: $primary-white;
            min-height: 100%;
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .link-list li {
            color: $primary-white;
            padding: 0;
            float: left;
            list-style-type: none;
            .nav-link {
                color: $primary-white;
                animation: dropdown-text;
                animation-duration: 0.7s;
            }
        }
    }
}

.navCheckbox {
    display: none;
}

.navCheckbox:checked~.hack-modal .modal-main {
    animation: scaleTranslateModal 1s;
    transform: translate(-50%, -50%);
}

@keyframes scaleTranslateModal {
    0% {
        top: 50%;
        left: 50%;
        transform: scale(.125) translate(-50%, -50%);
    }
    // 30% {
    //     transform: scale(.250) translate(-150%, -150%);
    // }
    // 60% {
    //     transform: scale(.5) translate(-75%, -75%);
    // }
    100% {
        top: 50%;
        left: 50%;
        transform: scale(1) translate(-50%, -50%);
    }
}

.modal-main {
    z-index: 1000;
}

@keyframes dropdown {
    from {
        height: 0px;
        transform: translateY(-100%);
    }
    to {
        height: 3rem;
        transform: translateY(0);
    }
}

@keyframes dropdown-text {
    from {
        opacity: 0%;
        transform: translateY(-100%)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation {
    background-color: #444;
}

.dropdown {
    opacity: 0;
    visibility: none;
    // display: none;
    top: 100.0%;
    right: 0%;
    width: 22.875rem;
    position: absolute;
    border-bottom: 1px solid transparent;
    border-radius: 20px;
    transition: all .2s ease;
    &__item {
        color: $primary-white;
        display: block;
        background-color: darken($background-color, 5%);
        text-align: right;
        font-size: 1.6rem;
        padding: 1rem 0rem;
        box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
        z-index: 2;
        &:hover {
            text-decoration: none;
            color: $primary-white;
            background-color: darken($background-color, 10%);
        }
        &:not(:last-child) {
            border-bottom: 2px solid lighten($background-color, 80%);
        }
        &:last-child {
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
    &__toggle {
        color: $primary-white;
        display: table;
        margin-right: 3rem;
        padding: .5rem 2rem;
        transition: all .3s;
        position: relative;
        z-index: 100;
        &:hover {
            // transform: translateY(-1px);
            // box-shadow: 1px 3px 5px rgba(0, 0, 0, .1);
            box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            background-color: darken($background-color, 5%);
            .dropdown {
                visibility: visible;
                opacity: 1;
            }
        }
        // &:hover~.dropdown {
        //     background-color: red;
        // }
    }
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-white;
        h3 {
            color: $primary-white;
        }
    }
    &__img {
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        float: left;
        margin-right: 1rem;
    }
    &__name {
        line-height: 0;
        display: block;
        text-align: center;
    }
    &__icon {
        width: 4rem;
        height: 2rem;
        color: rgb(47, 114, 255);
    }
}

.hackModalToggler {
    margin-top: .5rem;
    color: rgb(47, 114, 255);
}