.heading {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #4983ff;
  font-weight: 400;
  text-align: center;
}

.subheading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #4983ff;
  font-weight: 300;
  text-align: center;
}

.button {
  display: block;
  border-radius: 100px;
  background-color: #4983ff;
  font-size: 1.5rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #eee;
  padding: 1.2rem 2rem;
  border: none;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button:hover {
  -webkit-transform: translate(-3px);
          transform: translate(-3px);
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
}

.button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.button-large {
  display: block;
  border-radius: 100px;
  background-color: #4983ff;
  font-size: 2.5rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #eee;
  padding: 1.5rem 3rem;
  border: none;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button-large:hover {
  -webkit-transform: translate(-3px);
          transform: translate(-3px);
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
}

.button-large:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.settings {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings__modal-cover {
  color: #4983ff;
  z-index: 69420;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.settings__modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.settings__buttons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__yes {
  background-color: #4983ff;
  width: 6rem;
  height: 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
}

.settings__no {
  background-color: #a5a5a5;
  width: 6rem;
  height: 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
}

[data-status='open'] .settings__modal-cover {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.deleteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deleteButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dc3545;
  border: 2px #2d3142;
  -webkit-box-shadow: 0rem 0.2rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.2rem 5rem rgba(0, 0, 0, 0.1);
  color: #eee;
  font-size: 2.5rem;
  font-weight: 400;
  border-radius: 100px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-transform: uppercase;
  width: 30%;
}

.deleteButton:hover {
  -webkit-transform: translate(-3px);
          transform: translate(-3px);
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.deleteButton:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0rem;
}

.forms__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 2rem 0rem;
}

.forms__input {
  border: none;
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 2px solid #a5a5a5;
  padding: 1rem 1rem;
  text-align: center;
  width: 35rem;
}

.forms__button-background {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4983ff), to(#5093ff));
  background-image: linear-gradient(to right bottom, #4983ff, #5093ff);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 41rem;
  top: 1.75rem;
  border-radius: 50%;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  z-index: -1;
}

.forms__edit {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 1.5rem;
  margin-left: 25rem;
  padding: .5rem .5rem;
  border: 2px solid #a5a5a5;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.forms__forgot-password {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 3rem;
}

.forms__submission {
  width: 30%;
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.forms .visible {
  opacity: 1;
  height: 100%;
  margin: 3rem;
}
/*# sourceMappingURL=main.css.map */